<%- include('partials/header.ejs') %>

  <%- include('partials/navbar.ejs') %>

    <h1>Home Page</h1>
    <h3>
      <%= 'hello world' .toUpperCase() %>
    </h3>
    <p>
      12 Juni 2024 Muhammad Ibnu Mahjub Lagi Belajar EJS Melalui Campus Coder.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora
      repellendus optio dolorum ea ab amet suscipit rem et ipsa nostrum ipsum
      voluptate dolores quam aliquid iure reprehenderit aspernatur, voluptates
      necessitatibus.
    </p>

    <%- include('partials/footer.ejs') %>